/* General */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 225, 204, 1);
    font-family: 'Baloo 2', cursive;
    width: auto;
    height: auto;
}

/* User agent stylesheet correction */
ul {
    padding: 0;
}

/* Button */
.pos-button {
    background-color: #60BFB2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: max-content;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/* Input */
form input {
    padding: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(244, 240, 240, 1);
}

form input::placeholder{
    color: rgba(0, 0, 0, 30%);
}

/* Background decoration */
.blob-top-left {
    position: fixed;
    top: -10vw;
    left: -10vw;
    width: 35vw;
    height: 35vw;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M786.5 599.5q-87.5 99.5-187 134T342 792q-158 24-179-134t4-312q25-154 179-226.5t304.5 3.5q150.5 76 187 226.5t-51 250Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23FFB54A%22 d=%22M786.5 599.5q-87.5 99.5-187 134T342 792q-158 24-179-134t4-312q25-154 179-226.5t304.5 3.5q150.5 76 187 226.5t-51 250Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.blob-bottom-left {
    position: fixed;
    top: 30vw;
    left: -10vw;
    width: 35vw;
    height: 35vw;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M831 637.5Q827 775 689 782t-214-49.5Q399 676 244 663T61.5 490.5Q34 331 168 244t253-29q119 58 288.5 12.5T857 341q-22 159-26 296.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23FF7B4D%22 d=%22M831 637.5Q827 775 689 782t-214-49.5Q399 676 244 663T61.5 490.5Q34 331 168 244t253-29q119 58 288.5 12.5T857 341q-22 159-26 296.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;

}

.blob-bottom-Right {
    position: fixed;
    top: 30vw;
    left: 80vw;
    width: 35vw;
    height: 35vw;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M810.5 646Q848 792 712 860.5T464 843q-112-86-203.5-154t-130-202.5q-38.5-134.5 45-269t246-163Q584 26 726 108.5t94.5 237Q773 500 810.5 646Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2360bfb2%22 d=%22M810.5 646Q848 792 712 860.5T464 843q-112-86-203.5-154t-130-202.5q-38.5-134.5 45-269t246-163Q584 26 726 108.5t94.5 237Q773 500 810.5 646Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
